{% extends 'base.html' %} 
{% block head_title %}Category {{ category.title }}{% endblock %}
{% block title %}{{ category.title }}{% endblock %}

{% block content %}
   <div class="hero-unit">
     {% if posts %}
        {% for post in posts %}
          <div class="row">
            <div class="span6">
              <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
            </div>
            <div class="span6">
              <div class=" pull-right">
              Posted {{ post.posted }}</div>
            </div>
          </div>
          <div class="row">
            <div class="span12"><br>
              <p class="lead">{% autoescape off %}{{ post.body|truncatewords_html:100 }}{% endautoescape %}</p>
            </div>
          </div>
          <div class="row">
            <div class="span6">
              <a href="{{ post.get_absolute_url }}#disqus_thread"></a>
            </div>
            <div class="span6">
              <div class=" pull-right">
                <a href="{{ post.get_absolute_url }}#preview">Продолжить чтиво →</a>
              </div>
            </div>
          </div>
          <hr>
        {% endfor %}
        </dl>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

  </div>

{% endblock %}